@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;300;400;500;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.topic {
    font-size: 20px;
    font-weight: 700;
}

span {
    color: #4F46BA;
}

.paragraph {
    font-size: 20px;
    font-weight: 500;
    color: #64607D;
}

.paragraph2 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;

}

.title2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;

}


.box img {
    width: 100%;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
}

.image {
    width: 400px;
}

.header {
    background: linear-gradient(292deg, #62BADA -35.02%, #C9E7F2 78.96%);
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.btn-color {
    background: #4F46BA !important;
    color: white;
}

.btn-nocolor {
    background: none;
}

.btn-round {
    border-radius: 47px;
    color: white;
    background: var(--pallet-4-primary, #3734A9);
}

.popup {
    border-radius: 20px;
    position: relative;
    color: black;
    background: #C4C4C4;
}

.popup img {
    position: absolute;
    top: -20px;
}

.business-partner {
    background: #FAFBFF;
}

.service-card {
    border-radius: 20px;
    border: 1px solid #DBE4E9;
    padding: 2%;
    background: #FFF;
}

.service-card img {
    width: 45px;
}

.service-card-info {
    text-align: center;
}

.why-choose-us img {
    width: 650px;
    max-width: 100%;
}

.custom-ul li{
    list-style: none;
    list-style-image: url('Group\ 1551.svg');
    padding: 1% 0px;
}
.imagee{
    width: 45px !important;
}

.features{
    background: #C9E7F2;
}
.feature-card img{
 width: 45px;
}
.feature-card{
    border-radius: 12px;
    border: 1px solid #DBE4E9;
    padding: 4% 2%;
    background: #FFF;
}
.text-box{
    width: 380px;
    border-radius: 12px;
    border: 1px solid #DBE4E9;
    padding: 12% 5%;
    background: #FFF;
}

.pspan{
    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 500;
}
.stat{
    background: var(--pallet-4-primary, #3734A9);
}
.stat img{
   
    max-width: 100%;
}